body {
    overflow: hidden;
      margin: 0%;
      padding: 0%;
      background-color: white;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      
    }
    
    div{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #d9fcff;
      height: 60vh;
      width: 40vw;
      border-radius: 5%;
    }
    
    input{
      width: 50%;
      height: 10%;
      margin: 2%;
      
    }

    .funcoes{
        width: 50%;
        height: 10%;
        margin: 1%;
    }