<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio do Beto</title>
     <script type="module" src="./../Controler/index.js"></script>
     <link rel="stylesheet" href="./index.css">
</head>
<body>

    <section>
      <img id="img_cbl">
    </section>

  <header id="header">
  </header>

  <main>
    
      <div id="div_txt">
          <h1>Lucas André Miguel</h1>
          <h2>Olá, me chamo Lucas, popularmente conhecido como Beto, sou programador Full Stek, sou músico meu instrumento é o Contra Baixo. Fique a vontade para olhar meu Portfólio.</h2>
        </div>

        <img id="imgBeto">
        
    </main>
    
    <section id="Post"></section>
  <footer>

  </footer>


    
</body>
</html>